@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
	font-family: Raleway;
	background-color: white;
	color: grey;
}

.btn{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 25vh;
}

#btn{
    width: 15vh;
    height: 8vh;
    font-size: 4vh;
	border: grey 1px solid;
	outline: none;
	cursor: pointer;
}

.table{
	display: flex;
	justify-content: center;
	align-items: center;
}

td {
	border:  2px solid #333;
	height:  10vh;
	width:  10vh;
	text-align:  center;
	vertical-align:  middle;
	font-family:  Raleway;
	font-size:  4vh;
	cursor: pointer;
}

table {
	margin-top: 25vh;
	border-collapse: collapse;
	position: absolute;
}

table tr:first-child td {
	border-top: 0;
}

table tr:last-child td {
	border-bottom: 0;
}

table tr td:first-child {
	border-left: 0;
}

table tr td:last-child {
	border-right: 0;
}

.endgame {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  font-size: 5vh;
}